name: build-and-push-containerimages
on:
    push:
        branches:
            - "**"

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Source checkout
              uses: actions/checkout@v4

            - name: Set up docker buildx
              uses: docker/setup-buildx-action@v3

            - name: Build docker image
              run: |
                    for d in */; do
                        [[ "$d" == ".git" ]] && continue
                        name="${d%/}"
                        docker build -f ${name}/Containerfile -t ghcr.io/tamada/$name:latest $d
                        docker push ghcr.io/tamada/$name:latest
                    done
