name: build-and-push-containerimages
on:
    push:
        branches:
            - "**"

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Source checkout
              uses: actions/checkout@v4
            - name: Set up docker buildx
              uses: docker/setup-buildx-action@v3
            - name: Build docker image
              run: |
                    for i in $(find . -type d -depth 1 | grep -v .git | xargs basename) \
                    do \
                        docker build -t ghcr.io/tamada/$i:latest $i \
                        docker push ghcr.io/tamada/$i:latest \
                    done
